@import 'variables/colors', 'variables/breakpoints', 'mixins/mixins';

:local {
	.root {
		display: flex;
		flex-direction: column;

		@include media(min-width, $breakpoint-medium) {
			flex-direction: row;
			padding: 30px 0 30px 0;
			justify-content: center;
		}
	}

	.inputField {
		margin: 10px 20px 10px 20px;
	}

	.addTodoButton {
		color: $white;
		border-radius: 4px;
		background: $blue;
		margin: 0 30px 0 30px;
	}

	.error {
		color: $red;
	}
}
