@import 'variables/breakpoints', 'mixins/mixins', 'variables/colors';

:local {
	.info {
		cursor: pointer;
	}

	.root {
		border: 1px solid $grey;
		border-radius: 22px;
		padding: 20px;
		margin-top: 26px;
	}
}
